.section-about{
    
    padding: 8rem 0;
}

.section-services{
    background-color: $color-grey-light-1;
    padding: 6rem 0;
    
}

.section-portfolio{
    padding: 6rem 0;
}

.section-blog{
    background-color: $color-grey-light-1;
    padding: 6rem 0;
}

.section-reviews{
    padding: 6rem 0;
}

.section-contact{
    padding: 6rem 0;
    background-color: $color-grey-light-1;
}